<!-- Content Row-->
<div class="row container-fluid">
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Basic Program</h2>
        <p class="card-text">One month training <br>
        Buy the ticket now</p>
      </div>
      <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.youtube.com/watch?v=iZ1mlcCkY8A!">More Info</a></div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Premium Program</h2>
        <p class="card-text"> Three month for free <br>
        Dont hesitate to visit our chanel</p>
      </div>
      <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.youtube.com/watch?v=pTFZFxd4hOI!">More Info</a></div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Business Program</h2>
        <p class="card-text">Six months only for you <br>
          We are waiting for people like you <br>see you soon
        .</p>
      </div>
      <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.youtube.com/watch?v=xGpHfFf18Ns">More Info</a></div>
    </div>
  </div>
</div>
<div class="container-fluid p-3 ">
<div class="embed-responsive embed-responsive-16by9 align-content-center  card p-5 shadow" >
  <iframe class="embed-responsive-item align-content-center" src="https://player.vimeo.com/video/137857207" allowfullscreen></iframe>

<div  style="text-align: center">
  <p class="text-white m-0 " >
    <a href="https://www.youtube.com/results?search_query=training+tutorials" ><img class="img-fluid rounded mb-4 " width="70px" height="70px" src="assets/download.png" ></a>
</p><br>
<h4>Check out our youtube chanel</h4>
</div>
</div>
</div>
